@charset "utf-8";
/* 외부 CSS파일 상단엔 반드시 문자셋
설정코드가 있어야 한다! */

/* 메인 페이지 CSS - main.css */

/* 공통모듈 CSS불러오기 */
@import url(./common.css);

/* 메인 페이지에만 적용되는 코드 작성! */
.main-area{
  /* 메인용 배경색 */
  background-color: #2761a9;
}