@charset "utf-8";
/* 외부 CSS파일 상단엔 반드시 문자셋
설정코드가 있어야 한다! */

/* 메인 페이지 CSS - main.css */

/* 기본값 초기화 - 마진,패딩 0 */
html,
body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

/* 1.상단영역 */
.top-area {
  /* 가로크기 w - width:크기값
        가로크기를 안주면 auto가 기본값 */
  /* width: 1280px; */
  /* 크기를 주면 기본적으로 내부
        컨텐트 영역의 크기이며 패딩과
        보더는 바깥쪽에 생긴다!
        이런박스를 컨텐트박스라고 한다! */

  /* 글자중앙정렬 tac */
  text-align: center;

  /* 배경색 bgc */
  background-color: #ffe89b;
}

/* 메뉴박스 */
.menu ul {
  /* 기본블릿없앰 */
  list-style: none;
  /* 자식요소 옆으로 흐르게
        -> 플렉스는 나중에 적용할 예정! */
  /* display: flex; */
  /* 사이간격 */
  /* gap: 10px; */
}

/* 리스트 요소 */
.menu li {
  /* 인라인 블록으로 display 변경 */
  display: inline-block;
  /* 패딩 p - padding: 위아래 양쪽 */
  padding: 0 5px;
}

/* 공통클래스 */
.common-box {
  /* 최대가로크기 maw */
  max-width: 1280px;
  /* 효과는?  1280px보다 부모박스 크기가
        작아지면 auto로 전환되고 이것보다 커지면
        더 이상 커지지 않고 크기를 유지함! */

  /* 보더박스만들기(크기에 보더까지 포함) */
  box-sizing: border-box;

  /* 블록요소 가로 중앙정렬하기
        -> 양쪽마진을 auto로 주면된다!
        margin: 0 auto;
        -> 마영오!!! */
  margin: 0 auto;

  /* 테두리 bd - border:두께 종류 색상 */
  border: 4px dashed hotpink;
  /* 패딩 p
          패딩 셋팅법(마진도 동일함)
          padding: 값; (4방향공통)
          padding: 값 값;(위아래 양쪽)
          padding: 값 값 값;(위 양쪽 아래)
          padding: 값 값 값 값;(위 오른 아래 왼)

          -> 물론 방향별 속성이 따로 있음!
          padding-top, padding-bottom
          padding-right, padding-left
        */
  padding: 30px;

  /* 둥근 보더 모서리 bdrs - border-radius */
  border-radius: 20px;
}

/* 2.메인 영역 */
.main-area {
  /* 위 아래 마진 */
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 3.하단 영역 */
.bottom-area {
  /* 블록내부 인라인 중앙정렬 tac */
  text-align: center;
  /* 배경색 bgc */
  background-color: #d4d4d4;
}
